{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "extends": ["airbnb", "jest-enzyme"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  },
  "plugins": [
    "react",
    "import",
    "jest"
  ],
  "rules": {
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ],
    "comma-dangle": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "arrow-body-style": ["error", "as-needed"],
    "jsx-quotes": ["error", "prefer-double"],
    "no-restricted-syntax": "off",
    "no-prototype-builtins": "off",
    "no-underscore-dangle": "off",
    "no-use-before-define": "off"
  }
}
