// styling for add asset component
@import "sharedStyling.scss";

.optional-label-text {
  margin: 3% 0;
}

.optional-label-text label {
  font-weight: bold;
}

#processor-speed .field {
  padding: 0 3.09em 0 0;
}

.label-style {
  margin-top: 4%;
}

#previous-button {
  width: 103px;
}
