@import "sharedStyling.scss";
@import "mediaQueries.scss";

.add-asset {
  padding: 0 110px;
  text-align: left;
}

.ui.steps .step .title,
.ui.steps .step .description {
  font-family: $base-font, $fallback-font, Lato, Helvetica, Arial, sans-serif;
}

.ui.steps .step.active .title {
  color: $andela-blue;
}

.ui.ordered.steps .step.completed::before,
.ui.steps .step.completed > .icon::before {
  color: $andela-orange;
}

.optional-label-text > p {
  margin: 3% 0;
  font-weight: 900;
}

#processor-speed .field {
  padding: 0 3.09em 0 0;
}

.ui.form.add-asset-form {
  padding-bottom: 5%;

  .radio-group {
    margin-top: 10px;
  }
}

@include small {
  .add-asset {
    padding: 0 30px;
  }
}
