@import "sharedStyling.scss";

.allocations-list {
  padding: 0 110px;
}

#allocations-divider {
  border-bottom: 1px solid $allocations-divider;
  border-radius: 5px;
  border-top: 2px solid $allocations-divider;
  margin-top: 4.7rem;
  position: absolute;
  width: 90px;
}
