@import "sharedStyling.scss";

.assets-list {
  padding: 0 110px;
}

#assets-divider {
  border-bottom: 1px solid $assets-divider;
  border-radius: 5px;
  border-top: 2px solid $assets-divider;
  margin-top: 4.7rem;
  position: absolute;
  width: 90px;
}

#art-pagination-section {
  width: 680px;
}

#art-pagination-component {
  box-shadow: none;
  border: 0.5px solid $pagination-color;
}

#art-pagination-component a:first-child,
#art-pagination-component a:last-child {
  position: relative;
}

#art-pagination-component a:first-child:after {
  border-radius: .28571429rem 0 0 .28571429rem;
  content: "First";
}

#art-pagination-component a:last-child:after {
  border-radius: 0 .28571429rem .28571429rem 0;
  content: "Last";
}

#art-pagination-component a:first-child:after,
#art-pagination-component a:last-child:after {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 1px;
  top: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background: $andela-white;
}

.defined-row-limt {
  float: left;

  #dropdown-limit {
    border: 0.5px solid $pagination-color;
  }
}
