@import "sharedStyling.scss";

$table-row-color: #4aabb0;

.add-asset {
  margin-bottom: 10px !important;
  color: black !important;
}

.assets-heading {
  font-size: 15px;
  float: left;
  text-align: left;
  text-transform: uppercase;
}

.action-text {
  text-align: center;
}

.assets-header {
  display: flex;
  justify-content: space-between;
}


/* Assets Table */

.ui.basic.table {
  border: 0;
  border-collapse: collapse;
  line-height: 4.3em;
}

.ui.basic.table tbody tr {
  border: 2px solid $table-row-color;
  border-radius: 5px;
}

.asset-content-details-width {
  width: 103px;
  text-align: left;
}
.modal-holder {
  width: 18px;
  float: right;
}

#table-heading-section {
  padding: 0px;
  width: 100px;
  height: 24px;
}

.asset-code-section {
  padding-left: 14px !important;
}

.serial-number-section {
  padding-left: 10px !important;
}

.model-number-section {
  padding-left: 9px !important;
  padding-right: 35px !important;
}

.make-label-section {
  padding-left: 4px !important;
  padding-right: 50px !important;
}

.asset-type-section {
  padding-left: 4px !important;
  padding-right: 57px !important;
}

.subcategory-section {
  padding-right: 4px !important;
}

.category-section {
  padding-right: 37px !important;
}


#asset-type-group {
  border: 1px solid brown;
  padding: 5px;
  width: 45px;
  height: 24px;
}

#asset-list-data {
  border: 1px solid $table-row-color;
  border-radius: 5px;
}