@import "sharedStyling.scss";
@import "mediaQueries.scss";

.assets-list {
  padding: 0 110px;
}

#assets-divider {
  border-bottom: 1px solid $assets-divider;
  border-radius: 5px;
  border-top: 2px solid $assets-divider;
  margin-top: 4.7rem;
  position: absolute;
  width: 90px;
}

#page-headings {
  align-self: flex-start;
}

#page-heading-section {
  height: 77px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.ui.bottom.right.popup::before {
  -webkit-box-shadow: -1px -1px 0 0 $andela-blue;
  box-shadow: -1px -1px 0 0 $andela-blue;
}

.ui.bottom.right.wide.popup.transition.visible.filter-popup {
  border-color: $andela-blue;
}

.ui.button.filter-button {
  border: $andela-blue solid 1px;
  padding: 13px;
  font-size: small;
  background-color: $andela-blue;
  color: $andela-white;
  font-weight: 500;
  width: 150px;
  position: absolute;
  right: 8rem;
}

.ui.button.clicked {
  background-color: $andela-white;
  color: $andela-blue;
}

.ui.primary.button.apply-filter {
  width: 100%;
  margin: 0;
  background-color: $andela-blue;
}

@include tablet {
  .assets-list {
    padding: 0 30px;
  }

  .filter-button {
    right: 1rem;
  }
}

@include small {
  .assets-list {
    padding: 0 30px;
  }

  .filter-button {
    right: 1rem;
  }
}

.upload-file {
  border: 1px black solid;
  width: 100%;
  height: 50vh;
}

.uploader {
  height: 90%;
  position: relative;
}

.drag-drop {
  display: block;
  width: 80%;
  height: 80%;
  border: 1px grey dotted;
  position: absolute;
  top: 5%;
  left: 10%;
}

