@import "sharedStyling.scss";

.assets-list {
  padding: 0 110px;
}

#assets-divider {
  border-bottom: 1px solid $assets-divider;
  border-radius: 5px;
  border-top: 2px solid $assets-divider;
  margin-top: 4.7rem;
  position: absolute;
  width: 90px;
}
