.export-button {
  border: #3359df solid 1px;
  padding: 14px !important;
  font-size: small !important;
  background-color: #3359df !important;
  color: #fff !important;
  font-weight: 400 !important;
  min-width: 150px;
  float: right;
  text-transform: uppercase !important;
}

.ui.modal {
  left: 15% !important;
}
