@import "sharedStyling.scss";

.ui.vertical.accordion.ui.filter-menu {
  border: 0;
  border-radius: 0;
  background: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.ui.vertical.accordion.ui.filter-menu.menu {
  max-height: 30rem;
  overflow-y: scroll;
}

.ui.accordion .accordion .active.content,
.ui.accordion .active.content {
  max-height: 20rem;
  overflow-y: scroll;
}

.ui.vertical.accordion.ui.filter-menu.menu::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.ui.accordion .active.content {
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $andela-orange;
    outline: 1px solid #708090;
  }
}

.ui.accordion.menu .item .title {
  font-size: 16px;
  margin: 2px 0 8px 0;
  text-align: left;
}
