@import "sharedStyling.scss";

.ui.vertical.accordion.ui.filter-menu {
  border: 0;
  border-radius: 0;
  background: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.ui.vertical.accordion.ui.filter-menu.menu {
  max-height: 30rem;
  overflow-y: scroll;
}

.ui.accordion .accordion .active.content,
.ui.accordion .active.content {
  max-height: 20rem;
  overflow-y: scroll;
}


.ui.accordion .active.content::-webkit-scrollbar,
.ui.vertical.accordion.ui.filter-menu.menu::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.ui.accordion.menu .item .title {
  font-size: 16px;
  margin: 2px 0 8px 0;
  text-align: left;
}
