.ui.modal > .content > .description {
    margin-right: 0;
    margin-left: 0;
}

.modal-container {
    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    justify-content: center;
    align-items: center;

    .ui.primary.button {
        width: 150px;
        border-radius: 20px;
        background-color: #3359df;
        text-transform: uppercase;
        font-weight: 100;
        font-size: 13px;
    }
}
