p:first-child {
    margin-top: 270px;
    text-align: center;
}

.ui.primary.button {
    width: 150px;
    border-radius: 20px;
    background-color: #3359df;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 13px;
    margin-top: 50px;
    margin: auto;
    margin-left: 135px;
}
