@import "sharedStyling.scss";
@import "mediaQueries.scss";

.not-found {
  display: flex;
  width: 100%;
  height: 70vh;
  align-items: center;
  justify-content: center;
  font-family: archer;
  font-size: 18px;

  .middle {
    h2 {
      font-family: $base-font, $fallback-font, cursive;
      color: #83878d;
      font-size: 43px;
    }

    p {
      font-family: $base-font, $fallback-font, cursive;
      color: #83878d;
    }
  }
}

.reload-page {
  padding: 0 110px;
  text-align: left;
  background-color: $andela-blue !important;
  color: #fff !important;
}

@include small {
  .reload-page {
    padding: 10 30px;
  }
}
