.app * {
  position: relative;
  text-align: center;
}

.background {
  background: url('https://res.cloudinary.com/damc3mj5u/image/upload/v1526571576/desktopImage_n8cdwx.jpg');
  width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 480px) {
  .background {
    background-image: url('https://res.cloudinary.com/damc3mj5u/image/upload/v1526571584/mobileImage_svuovy.png');
  }
}

.google-button {
  background-color: white !important;
  padding-left: 18px !important;
}

.google-button:hover {
  background-color: #b9b9b9 !important;
}

.landing-heading {
  font-size: 48px !important;
  margin-top: 40px !important;
  margin-bottom: 55px !important;
}

.landing-overlay::before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
  background-color: rgba(0, 0, 225, 0.2);
}
