@import 'sharedStyling.scss';

$landing_page_image: url('/images/landing_page_image.png');

.background {
  background: $landing_page_image no-repeat;
  width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-size: cover;
}

#login-container {
  position: absolute;
  text-align: left;
  left: 107px;
  bottom: 170px;
}

#welcome-message {
  font-size: 25px;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: 0.8px;
  text-align: left;
  color: #000;
  margin-top: 40px;
}

#google-button {
  background-color: #fff;
  width: 288px;
  height: 55px;
  padding-left: 18px;
  margin-top: 35px;
  border-radius: 10px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

#google-button:hover {
  background-color: #b9b9b9;
}

.landing-heading {
  font-size: 48px !important;
  margin-top: 40px !important;
  margin-bottom: 55px !important;
}

// Device = Smart phones (Portrait)
@media (min-width: 320px) and (max-width: 480px) {
  #login-container {
    position: initial;
  }
}
