@import 'sharedStyling.scss';
@import "mediaQueries.scss";

.ui.page.dimmer {
  z-index: 1010;
}

.header {
  text-transform: uppercase;
  color: $andela-blue;
}

.ui.small.modal.art-modal {
  margin-left: 30%;
  width: 100%;
  max-width: 500px;

  .content {
    .description {
      .form {
        input {
          &[type="text"] {
            border-color: $border-color2;

            &:focus {
              border-color: $border-color2;
              color: $border-color2;
              font-weight: lighter;
            }
          }
        }

        textarea {
          border-color: $border-color2;

          &:focus {
            border-color: $border-color2;
            color: $border-color2;
            font-weight: lighter;
          }
        }

        .field {
          width: 100%;

          label {
            display: inline-block;
            background-color: $andela-white;
            margin-bottom: 10px;
            font-weight: 100;
          }
        }

        .ui.button {
          margin-top: 20px;
        }
      }
    }
  }
}

.ui.dropdown {
  border-color: $border-color2;
}

.ui.fluid.dropdown {
  border-color: $border-color2;
  color: $border-color2;
  font-weight: lighter;
}

.ui.dropdown:focus {
  border-color: $border-color2;
  color: $border-color2;
  font-weight: lighter;
}

.ui.fluid.dropdown:focus {
  border-color: $border-color2;
}

.underline {
  background-color: $andela-orange;
  height: 4px;
  width: 86px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

.ui.large.modal {
  margin-left: 30%;
  width: 500px;
}

.ui.modal {
  left: 0;
}

.ui.modal > .header:not(.ui) {
  color: $andela-blue;
  font-weight: 100;
  font-size: 20px;
}

.ui.fluid {
  margin-top: 24px;
}

.circle {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-indicator {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  margin-right: 26px;
}

.page-indicator.specs-component {
  margin-right: 18px;
}

.line {
  height: 1px;
  width: 60px;
  background-color: $gray;
  margin: 10px;
}

.shade-1 {
  font-weight: 400;
  background-color: $andela-orange;
  color: $andela-white;
}

.shade-2 {
  font-weight: 400;
  color: $andela-white;
  background-color: $modal-purple;
}

.no-shade {
  background-color: $andela-white;
  border-color: $gray;
  border-width: 1px;
  border-style: solid;
}

.page-text {
  display: flex;
  justify-content: center;
}

.modal-container {
  height: 450px;
  overflow-y: auto;
  overflow-x: hidden;
}

.loader-container {
  height: 231px;
}

.modal-container,
.loader-container {
  & .column.loader-column {
    padding-right: 16% !important;
  }
}

@include tablet {
  .ui.small.modal.art-modal {
    margin-left: 20%;
  }
}

@include small {
  .ui.small.modal.art-modal {
    margin-left: 10%;
    max-width: 80%;
  }
}
