@import "sharedStyling.scss";
@import "mediaQueries.scss";

#nav-bar {
  height: 60px;
  padding: 0 10rem;
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  margin-bottom: 0;

  a:hover,
  .right > .item {
    background: none;
  }

  .right > .active > span > img {
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.5);
  }

  #hamburger {
    color: $andela-blue;
    cursor: pointer;
    font-size: 20px;
  }

  #banner {
    height: 30px;
  }

  #search-menu {
    margin: 0 auto;

    #nav-search {
      color: $andela-blue;
      width: 200px;
      height: 30px;
      border-radius: 10px;
      border: solid 1px $andela-blue;
      padding-left: 36px;
    }

    #nav-search::-webkit-input-placeholder {
      color: $andela-blue;
    }

    #nav-search::-moz-placeholder {
      color: $andela-blue;
    }

    #nav-search:-ms-input-placeholder {
      color: $andela-blue;
    }

    .ui.icon.input>i.icon {
      color: $andela-blue;
      left: 0;
    }
  }

  #notification-icon {
    width: 32px;
    height: 32px;
    background-color: $andela-blue !important;
    cursor: pointer;
  }

  #user-avatar {
    width: auto;
    max-height: 50px;
  }

  i.icons .corner.icon {
    top: auto;
    left: 0;
    bottom: auto;
    right: auto;
    width: 14px;
    height: 14px;
    color: $andela-orange;
  }

  .right.menu {
    margin-left: 0 !important;
  }
}

#nav-bar2 {
  .push .grid .column > span {
    font-size: 20px;
    color: #4183c4;
    cursor: pointer;
  }

  .pusher {
    min-height: 93vh;
    overflow: hidden;
  }

  .ui.sidebar {
    overflow: hidden;

    .grid > .column {
      box-shadow: none;
    }

    .grid > .column a {
      display: block;
      width: 170px;
      font-size: 20px;
    }
  }

  .ui.visible.push.sidebar {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 10%;
    padding-left: 6.5%;

    @include small {
      padding-left: 12%;
    }

    @include tablet {
      padding-left: 15%;
    }

    @include large {
      padding-left: 10.7%;
    }
  }

  .ui.grid {
    padding: 0;
    text-align: left;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .ui.visible.top.sidebar~.fixed,
  .ui.visible.top.sidebar~.pusher {
    -webkit-transform: translate3d(0, 70px, 0);
    transform: translate3d(0, 70px, 0);
    padding-bottom: 150px;
  }

  .nav-images {
    height: 25px;
    display: initial;
    margin-right: 10px !important;
  }
}

.pushable {
  overflow: hidden;
}

#assets-popup {
  max-width: 400px;
  margin-top: 1.5rem;
  font-size: 15px;
}

#analytics-state-selection {
  .ui.grid {
    .column.row {
      .column {
        margin-bottom: 15px;
      }
    }
  }
}

.asset-links-section {
  .ui.column.grid {
    .column {
      a {
        display: block;
        width: 200px;
        -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        padding: 20px;
        font-size: 15px;
        color: $andela-black;
      }

      a:hover {
        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        color: $andela-blue;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  #nav-bar {
    height: 100px;
    padding: 0 20px;
  }

  #search-menu {
    margin: 5px 0;
  }

  #nav-bar2 {
    .ui.sidebar {
      height: 115px !important;
      padding: 0 20px;
    }

    .ui.visible.top.sidebar~.fixed,
    .ui.visible.top.sidebar~.pusher {
      -webkit-transform: translate3d(0, 125px, 0);
      transform: translate3d(0, 125px, 0);
    }

    .pusher {
      .nav-images {
        height: 40px;
        margin: 0;
      }

      .grid > .column a {
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 767px) {
  #nav-bar {
    height: 230px;
    padding: 0 20px;

    #search-menu {
      margin: 5px 0;
    }

    .right.menu {
      .item {
        position: absolute;
      }

      :nth-child(1) {
        margin-left: 5px;
      }

      :nth-child(2) {
        left: 45%;
      }

      :nth-child(3) {
        left: 70%;
      }
    }

    #user-avatar {
      width: 45px;
      height: 45px;
    }
  }

  #nav-bar2 {
    .ui.sidebar {
      height: 220px !important;

      .grid > .column a {
        font-size: 15px;
      }
    }

    .ui.visible.top.sidebar~.fixed,
    .ui.visible.top.sidebar~.pusher {
      -webkit-transform: translate3d(0, 230px, 0);
      transform: translate3d(0, 230px, 0);
      padding-bottom: 280px;
    }

    .pusher {
      #dashboard-content {
        padding: 0 30px;
      }
    }

    .nav-images {
      height: 40px;
      margin: 0;
    }
  }
}
