@import "mediaQueries.scss";

.page-header {
  padding: 0 110px;

  .ui.attached.tabular.menu {
    padding-top: 70px;
  }
}

@include tablet {
  .page-header {
    padding: 0 30px;
  }
}

@include small {
  .page-header {
    padding: 0 30px;
  }
}
