.ui.sidebar,
.ui.left.sidebar,
.ui.wide.left.sidebar {
  width: 17%;
}

.ui.vertical.menu {
  background: rgb(248, 249, 251);
}

.ui.icon.menu .item {
  text-align: left;
}

.wrapper {
  height: 93vh;
}

.wrapper .ui.segment {
  margin: 0;
}

.pusher {
  padding: 1rem 0;
}

@keyframes andela-logo-spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 960px) {
  .ui.visible.scale.down.sidebar ~ .pusher {
    overflow-y: auto !important;
    margin-top: -30px;
    transform: scale(0.8) !important;
  }

  .ui.labeled.icon.menu .item {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 960px) {
  .ui.wide.left.sidebar,
  .ui.wide.right.sidebar {
    width: 150px;
  }

  .wrapper {
    height: 93vh;
  }
}
