.ui.sidebar,
.ui.left.sidebar,
.ui.wide.left.sidebar {
  width: 300px;
}

.pusher {
  padding: 1rem 0;
}

.ui.visible.scale.down.sidebar ~ .pusher {
  overflow-y: auto !important;
  margin-top: -30px;
}

.ui.vertical.menu {
  background: rgb(248, 249, 251);
}

.ui.icon.menu .item {
  text-align: left;
  font-size: 1.2rem;
}

.wrapper {
  height: 93vh;
}

.wrapper .ui.segment {
  margin: 0;
}

@keyframes andela-logo-spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.ui.accordion > div.item,
.ui.accordion > div.item > .title {
  padding: 0;
}

.ui.accordion:not(.styled) .title ~ .content:not(.ui),
.ui.accordion:not(.styled) .accordion .title ~ .content:not(.ui) {
  border-top: 1px solid rgba(34, 36, 38, 0.15);
  padding: 0.92857143em 1.14285714em;
}

.ui.accordion .title .dropdown.icon,
.ui.accordion .accordion .title .dropdown.icon {
  float: right;
}

.no-border {
  border-top: none !important;
}

/*
  Device = Desktops
*/
@media (min-width: 1281px) {
  .ui.visible.scale.down.sidebar ~ .pusher {
    transform: scale(0.8) !important;
  }
}

/*
  Device = Laptops, Desktops
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  .ui.visible.scale.down.sidebar ~ .pusher {
    transform: scale(0.7) !important;
  }
}

/*
  Device = Tablets, Ipads (portrait)
*/
@media (min-width: 768px) and (max-width: 1024px) {
  .ui.visible.scale.down.sidebar ~ .pusher {
    transform: scale(0.7) !important;
  }
}

/*
  Device = Tablets, Ipads (landscape)
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .ui.visible.scale.down.sidebar ~ .pusher {
    transform: scale(0.7) !important;
  }
}

/*
  Device = Low Resolution Tablets, Mobiles (Landscape)
*/
@media (min-width: 481px) and (max-width: 767px) {
  .ui.visible.scale.down.sidebar ~ .pusher {
    transform: scale(0.6) !important;
  }
}

/*
  Device = Smart phones (Portrait)
*/
@media (min-width: 320px) and (max-width: 480px) {
  .ui.visible.scale.down.sidebar ~ .pusher {
    transform: scale(0.5) !important;
  }

  .ui.sidebar,
  .ui.left.sidebar,
  .ui.wide.left.sidebar {
    width: 250px;
  }
}
