@import "sharedStyling.scss";
@import "mediaQueries.scss";

.center-upload {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dropzone {
  width: 50%;
  height: 200px;
  border: 2px dashed black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress {
  width: 90%;
  color: "#fff";
}
