@import "sharedStyling.scss";

.ui.horizontal.segments > .segment.user-detail-info {
  width: 610px;
}

.user-detail-icon {
  float: left;
}

.user-detail-content {
  width: 50%;
  margin-left: 15%;
  text-align: left;
}